
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/66bc8f2e9b.js" crossorigin="anonymous"></script>
    <title>Spotify</title>
</head>

<body>
    <div class="container">
        <aside>
            <div class="menu">
                <a class="active" href="#"><span><i class="fa-solid fa-house"></i></span>Inicio</a>
                <a href="/auth/login"><span><i class="fa-solid fa-right-to-bracket"></i></span>Iniciar sesion</a>
                <a href="/auth/register"><span><i class="fa-solid fa-pen-to-square"></i></span>Registrarse</a>
            </div>
            </nav>
        </aside>
        <section>
            <header>
                <div class="botones_prev_next">
                </div>

                <div class="suscribcion">
                  <div class="mejora_cuenta">
                      <button src="/auth/logout"><span></span>BETA PRELIMINAR
                      </button>
                  </div>
                  <div class="circulo">
                      <span class="circulo"><i class="fa-solid fa-user-secret"></i></span>
                  </div>
              </div>
            </header>

            <div class="contenedor_degradado">
                <div class="banner">
                    <div class="cancion">
                        <figure>
                            <img src="https://imgs.search.brave.com/NGjx7J_INAfcqN9o5dRWA49Eq4nz9-lHf18hrWkl2Gc/rs:fit:650:639:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzIxLzhh/LzUwLzIxOGE1MDc1/YzdiZDc1OTMzOGYw/ZjE1YjhhYTZlNTdk/LnBuZw" alt="">
                        </figure>
                    </div>
                    <div class="cancion">
                        <figure>
                            <img src="https://imgs.search.brave.com/QUl-AZBgJX_15SXs3evAe7fn15oIGowjDw-67TRJrHA/rs:fit:800:800:1/g:ce/aHR0cHM6Ly8zLmJw/LmJsb2dzcG90LmNv/bS8tQmlMWHRtSXF3/LXcvV01LdHkwVlJO/MEkvQUFBQUFBQUFF/bmcvRXh4dEFmX1cy/X2c2RlZyd1djaFlX/WGh1WUdlOXFPZGdB/Q0xjQi9zMTYwMC9h/OTk1OWMxN2M4MjYw/NjUwMTM2ZmRjNGE3/ZDhiYjIxOC5qcGc" alt="">
                        </figure>
                    </div>
                    <div class="cancion">
                        <figure>
                            <img src="https://imgs.search.brave.com/Z8gkauGGrcpMxGHDUK6AMHvQ1Lo8_BBk8wYpq69k2YA/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9pbWFn/ZXMtbmEuc3NsLWlt/YWdlcy1hbWF6b24u/Y29tL2ltYWdlcy9J/LzcxekNYVU91SjZM/Ll9TTDE1MDBfLmpw/Zw" alt="">
                        </figure>
                    </div>
                    <div class="cancion">
                        <figure>
                            <img src="https://imgs.search.brave.com/cUw1odlhfOxYEFUykLzM7qzd-VzKPGusZsfAzJ5SKpg/rs:fit:953:953:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzRjLzMy/LzA3LzRjMzIwNzk0/MGFjZWQxNDkzMzY4/MjU4YTdmYTU5ZjM2/LmpwZw" alt="">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="contenedor_contenido">
                <div class="titulos">
                    <h1>¡Buenos días!</h1>
                </div>
                <div class="generos">
                    <div class="cards">
                        <div class="card_imagen"><img src="https://imgs.search.brave.com/JAs4FP9jjh_WddUymCFOWQxOMwTe-2cGl7QnmStGOAg/rs:fit:953:953:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzBmLzNi/L2U1LzBmM2JlNThh/YjM2NjBjZGEyMGRl/NTZlNmNiNWFjZTY1/LmpwZw" alt=""></div>
                        <div class="card_text">
                            <h4>Harry Styles</h4>
                            <i class="fa-solid fa-play"></i>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="card_imagen"><img src="https://imgs.search.brave.com/syNKcnwTFcjOwh-EaEaUYQdMfaXDSIVFsmlhPS99a9g/rs:fit:600:600:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vNzM2/eC84ZC80Yi80ZS84/ZDRiNGViNmQ1YTZm/MGZiNzQ1YzAxODEz/Y2I3YzlhMi5qcGc" alt=""></div>
                        <div class="card_text">
                            <h4>Bizarrap</h4>
                            <i class="fa-solid fa-play"></i>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="card_imagen"><img src="https://imgs.search.brave.com/PzuztcZwtsudvqwOJRBol1_vGH2NdvoPEeJ_1qrnpwg/rs:fit:500:500:1/g:ce/aHR0cHM6Ly9kaXJl/Y3QucmhhcHNvZHku/Y29tL2ltYWdlc2Vy/dmVyL2ltYWdlcy9h/bGIuMzU2MTE4NDI3/LzUwMHg1MDAuanBn" alt=""></div>
                        <div class="card_text">
                            <h4>Kevin Karl</h4>
                            <i class="fa-solid fa-play"></i>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="card_imagen"><img src="https://imgs.search.brave.com/LVRF4JxOWXF7wAayfaWDAgT-Q_7SLzI1RE-0tj8ubrc/rs:fit:800:800:1/g:ce/aHR0cHM6Ly9pLm11/c2ljYWltZy5jb20v/bGV0cmFzL21heC8y/MjU4NzQxLmpwZw" alt=""></div>
                        <div class="card_text">
                            <h4>Ozuna</h4>
                            <i class="fa-solid fa-play"></i>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="card_imagen"><img src="https://imgs.search.brave.com/t1FPFP-yIAWy7-EDdzaPDJQN4X1ic0z8WeyPVrFeJzs/rs:fit:640:640:1/g:ce/aHR0cHM6Ly9pLnNj/ZG4uY28vaW1hZ2Uv/YWI2NzYxNmQwMDAw/YjI3MzU0OGY3ZWM1/MmRhNzMxM2RlMGM1/ZTRhMA" alt=""></div>
                        <div class="card_text">
                            <h4>Bad Bunny</h4>
                            <i class="fa-solid fa-play"></i>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="card_imagen"><img src="https://imgs.search.brave.com/Q1Sh010YaaOUvok53gFK4L75vGDx3lUleeHTsOh0W9I/rs:fit:953:953:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzkyLzUx/LzQ5LzkyNTE0OTE0/N2JmNjk5ZDlmZTMy/MzNjOTExM2RmYzIz/LmpwZw" alt=""></div>
                        <div class="card_text">
                            <h4>Nivana</h4>
                            <i class="fa-solid fa-play"></i>
                        </div>
                    </div>
                </div>
                <div class="titulos">
                    <h2>Programas para probar</h2>
                    <span>Podcast que pensamos que te van a enganchar</span>
                </div>

                <div class="podcast">
                    <div class="card_podcast">
                        <img src="https://imgs.search.brave.com/rOctx5VM5P3pgHWOZWn23aVukQ6fHGRZFp6jOHSaHb8/rs:fit:781:781:1/g:ce/aHR0cHM6Ly9lZGl0/Lm9yZy9lZGl0b3Iv/anNvbi8yMDIxLzA2/LzAyLzEvZi8xZmY3/NWFmMjU0MjY5MzZl/OTBlODQ4ZDY1ZTQ5/ZTU2Nl9lZGl0Lm9y/Zy5qcGc" alt="">
                        <h4>Estilo de vida</h4>
                        <p>Podcast</p>
                    </div>
                    <div class="card_podcast">
                        <img src="https://imgs.search.brave.com/uREKtG3Jl0sCMYhZZ-veGxeFtk2rL6jaTOWxR_KYoVY/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93d3cu/c295dmlja2EuY29t/L3dwLWNvbnRlbnQv/dXBsb2Fkcy8yMDIw/LzExLzY4NTE2MDE4/LTVCQTYtNDBEQy1C/NzFDLUYwMDBDM0M0/ODVFNy0xLmpwZWc" alt="">
                        <h4>El podcast de gabypao</h4>
                        <p>Podcast</p>
                    </div>
                    <div class="card_podcast">
                        <img src="https://imgs.search.brave.com/gF9UMIoQqJ8aiiZ1QMYJn1edylJWSv96C_3uj6fnzn0/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9pczEt/c3NsLm16c3RhdGlj/LmNvbS9pbWFnZS90/aHVtYi9Qb2RjYXN0/czEyNS92NC9kNC9k/ZC9jZC9kNGRkY2Qw/Ni1kZWRjLWRkMmMt/YWFmNi02OGMzMjUw/YmIxYmUvbXphXzc3/Mjc0MjAzOTczMDI4/MDA4NjEuanBnLzEy/ODB4MTI4MGJiLTc1/LmpwZw" alt="">
                        <h4>Terror Online</h4>
                        <p>Podcast</p>
                    </div>
                    <div class="card_podcast">
                        <img src="https://imgs.search.brave.com/AGWQjYgpufUMRyxFz-iR1iGq_SfKatz1G69xxcjhM2U/rs:fit:1024:1024:1/g:ce/aHR0cHM6Ly9hbGlj/YW50ZXBvZGNhc3Qu/ZXMvd3AtY29udGVu/dC91cGxvYWRzLzIw/MjEvMDUvTG9nby1B/ZG9wdGEtdW4tcG9k/Y2FzdC0xMDI0eDEw/MjQucG5n" alt="">
                        <h4>Adopta un Podcast</h4>
                        <p>Podcast</p>
                    </div>
                </div>
            </div>
        </section>
<style>
  :root{
    --padding: 10px 20px;
    --radius: 10px;
    --fondo: #181818;
    --efecto: all .5s;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}
.container aside{
    width: 20%;
    height: 100vh;
    background-color: #000000;
    padding: var(--padding);
}
.container aside .menu{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container aside .menu a{
    text-decoration: none;
    padding: 10px 1rem;
    color: #c5c5c5;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container aside .menu a span{
    margin-right: 8px;
}
.container aside .menu a.active{
    background-color: #282828;
    border-radius: 5px;
    color: #ffffff;
}
.container aside .menu a:hover{
    color: #ffffff;
}
.container section{
    width: 80%;
    height: 100vh;
    color: #ffffff;
    background-color: var(--fondo);
    overflow-y: scroll;
    padding-bottom: 5rem;
}
.container section::-webkit-scrollbar{
    -webkit-appearance: none;
}
.container section::-webkit-scrollbar:vertical{
    width: 7px;
}
.container section::-webkit-scrollbar-thumb{
    background-color: #797979;
}
.container section header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: var(--padding);
    width: 80%;
    background-color: #505053;
    z-index: 2;
}
.container section header .botones_prev_next,.container section header .suscribcion{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container section header .botones_prev_next span{
    cursor: pointer;
}
.container section header .botones_prev_next span.btn_prev{
    margin-right: 1em;
}
.container section header .suscribcion .mejora_cuenta{
    margin-right: 1.5em;
}
.container section header .suscribcion .mejora_cuenta button{
    background-color: #000000;
    border: 1px solid #ffffff;
    width: 250px;
    padding: 0.8em 0;
    color: #ffffff;
    border-radius: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: all .2s;
}
.container section header .suscribcion .mejora_cuenta button:hover{
    transform: scale(1.1);
}
.container section header .suscribcion .perfil{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    width: auto;
    padding: .4em 5px;
    border-radius: 30px;
    cursor: pointer;
    z-index: 2;
}
.container section header .suscribcion .perfil .circulo{
    background-color: #333333;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circulo, .nombre{
    margin-right: 5px;
}
.container section .contenedor_degradado, .container section .contenedor_contenido{
    padding: var(--padding);
}
.container section .contenedor_degradado{
    background: linear-gradient(#505053,#181818);
    width: 100%;
    margin-top: 61px;
}
.container section .contenedor_degradado .banner{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.container section .contenedor_degradado .banner .cancion{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    margin: 1em;
    width: 200px;
    height: 200px;
    cursor: pointer;
}
.container section .contenedor_degradado .banner .cancion figure{
    position: relative;
    width: 100%;
    height: 100%;
    transition: var(--efecto);
}
.container section .contenedor_degradado .banner .cancion figure img{
    width: 100%;
    height: 100%;
}
.container section .contenedor_degradado .banner .cancion figure:hover:before{
    position: absolute;
    content: '';
    background-color: rgba(0, 0,0,0.286);
    width: 100%;
    height: 100%;
}
.container section .contenedor_degradado .banner .cancion figure:hover:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-image: url(img/play.svg);
    background-position: center;
    background-size: cover;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
}
.container section .contenedor_degradado .banner .cancion figure:hover{
    width: 100%;
    transform: scale(1.2);
}
.container .contenedor_contenido .titulos{
    text-align: start;
    width: 100%;
    margin-bottom: 20px;
}
.container section .contenedor_contenido .generos,
.container section .contenedor_contenido .podcast{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 20px;
}
.container section .contenedor_contenido .generos .cards{
    transition: var(--efecto);
    flex-basis: calc((100% / 3) - 20px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    cursor: pointer;
    border-radius: var(--radius);
    margin: 10px;
}
.container section .contenedor_contenido .generos .cards .card_imagen{
    width: 80px;
    height: 80px;
}
.container section .contenedor_contenido .generos .cards .card_imagen img{
    width: 100%;
    height: 100%;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}
.container section .contenedor_contenido .generos .cards .card_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: calc(100% - 80px);
}
.container section .contenedor_contenido .generos .cards .card_text img{
    opacity: 0;
}
.container section .contenedor_contenido .generos .cards:hover{
    background: linear-gradient(#666666, #474747);
}
.container section .contenedor_contenido .generos .cards:hover img{
    opacity: 1;
    transition: var(--efecto);
}
.container section .contenedor_contenido .podcast .card_podcast{
    transition: var(--efecto);
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: calc((100% / 4 ) - 20px);
    margin: 10px;
    background-color: #181818;
    padding: 1em;
    cursor: pointer;
    border-radius: var(--radius);
}
.container section .contenedor_contenido .podcast .card_podcast:hover{
    background-color: #282828;
}
.container section .contenedor_contenido .podcast .card_podcast img{
    width: 100%;
    height: 100%;
}
.container section .contenedor_contenido .podcast .card_podcast:hover img{
    box-shadow: 5px 4px 10px hsl(0, 0%, 11%);
}
.container section .contenedor_contenido .podcast .card_podcast h4{
    margin-top: 1em;
}
.container footer{
    background: var(--fondo);
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: var(--padding);
    border-top: 1px solid #282828;
    color: #ffffff;
}
.container footer .controles{
    display: flex;
    align-items: center;
    margin: auto;
    padding-bottom: .5em;
}
.container footer .controles img{
    margin: 0 .5em;
}
.container footer .progreso{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container footer .progreso .barra_progreso{
    width: 40%;
    height: 5px;
    background-color: #282828;
    border-radius: var(--radius);
    margin: 0 1em;
}
</style>
    </div>
</body>

</html>